<h2>Workout List</h2>
<div>
  <input id="search" type="text" [(ngModel)]="searchQuery" (input)="searchWorkouts()" placeholder="Search for a person"
  />
</div>
<div>
  <!-- Filter by workout type -->
  <label for="type">Filter by Workout Type:</label>
  <select
    id="type"
    [(ngModel)]="selectedType"
    (change)="filterByType()"  
  >
    <option value="">All Types</option> 
    <option value="Cardio">Cardio</option>
    <option value="Strength">Strength</option>
    <option value="Flexibility">Flexibility</option>
    
  </select>
</div>
<table border="1" cellspacing="0" cellpadding="10">
  <thead>
    <tr>
      <th>Name</th>
      <th>Workouts</th>
      <th>Number of Workouts</th>
      <th>Total Duration (Minutes)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let workout of filteredWorkouts">
      <td>{{ workout.name }}</td>
      <td>{{ workout.type.join(', ') }}</td>
      <td>{{ getWorkoutCount(workout) }}</td>
      <td>{{ getTotalDuration(workout) }}</td>
    </tr>
  </tbody>
</table>

